<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233341141393-1idlhhb346okhp07d0fveq7s5e8t54g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233341141393-1idlhhb346okhp07d0fveq7s5e8t54g1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233341141393-52nbr2kpn55hpp260gac4n501ike15j7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVAEOh2kn-PnGZa6uDSs2vCXQttkn3NAo</string>
	<key>GCM_SENDER_ID</key>
	<string>233341141393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.k2xAssessmentTask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>k2x-assessment-task</string>
	<key>STORAGE_BUCKET</key>
	<string>k2x-assessment-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233341141393:ios:8d00bb3fd13d51ab58da30</string>
</dict>
</plist>